#img-container {
  width: 90vw;
  height: 70vh;
  margin: auto;

  padding: 10px;

  background-color: grey;
  overflow: scroll;
}

input[type="file"] {
  display: none;
}

.fileSelect {
  padding: 0;
  background-color: #03a9f4;
  font-size: 16px;
  display: flex;
  width: 150px;
  border: 2px outset darkgrey;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  font: 400 13.3333px Arial;
  height: 50px;
  margin: 5px;
  box-sizing: unset;
}

.fileSelect:hover {
  color: silver;
}

#control-panel,
#wrapper {
  display: flex;
}

button.active {
  background-color: yellow;
  border-radius: 5px;
  border: 2px outset darkgrey;
}

#drawn-paths-list {
  display: flex;
  flex-direction: row;
  visibility: hidden;
  position: absolute;
}

#drawn-paths-list.show {
  visibility: visible;
  background-color: #cddc39;
  border: 1px solid black;
}

#drawn-paths-list div {
  margin: 5px;
}

.list-title {
  font-weight: bold;
}

#wrapper {
  flex-direction: column;
}

#control-panel {
  margin-bottom: 1vh;
  border-bottom: 5px outset deepskyblue;
}

.control-button {
  border-radius: 5px;
  height: 53px;
  margin: 5px;
  background-color: darkseagreen;
}

#img-container label {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 100px;
  background-color: #c4cddd;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: fixed;
  z-index: 50;
}

#zoom {
  transform: rotate(90deg);
  margin: auto 0;
}
